@{
    if (Request.Headers["X-PJAX"] != null) 
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/Auth/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#BusinessSignUpForm').submit(function () {

            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                data: form.serialize(),
                success: function (data) {
                    $('#formworkspace').html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {

                }

            });
            return false;
        });

    });
</script>

@model Vaccine.Office.Web.Models.CustomerReports.DetailModel


<form id="BusinessSignUpForm" class="form-horizontal" method="post" action="/CustomerRegistration/RegisterAddress">
        @Html.HiddenFor(x => x.AggregateRootId )
        <fieldset>
          <legend>Customer Information</legend>
             <div class="control-group">
                <label class="control-label" for="input01">Name</label>
                <div class="controls">

                  <input type="text" class="input-xlarge" id="name" name="name" value="@Model.CustomerReport.Name">
              
                </div>
             </div>

             <div class="control-group">
                <label class="control-label" for="input01">Email</label>
                <div class="controls">

                  <input type="text" class="input-xlarge" id="email" name="email" value="@Model.CustomerReport.Email">
              
                </div>
            </div>

            <fieldset>
                <legend>Address</legend>
                @if(Model.AddressModels.Count>0)
                {
                    foreach(var item in Model.AddressModels)
                    {
                        <div class="control-group">
                            <label class="control-label" for="input01">Address</label>
                            <div class="controls" for="input01">@item.Address1
                                <br />@item.Address2
                                <br />@item.PostCode
                                <br />@item.AddressType
                                <hr />
                            </div>
                        </div>
                    }
                }

                @if (Model.AddressModels.Count < 2)
                {
                    <div class="control-group">
                    <label class="control-label" for="input01">Address</label>
                        <div class="controls">

                          <input type="text" class="input-xlarge" id="address1" name="address1">
              
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input01"></label>
                        <div class="controls">

                          <input type="text" class="input-xlarge" id="address2" name="address2">
              
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input01">PostCode</label>
                        <div class="controls">

                          <input type="text" class="input-xlarge" id="postCode" name="postCode">
              
                        </div>
                    </div>

                    <div class="control-group">
                    <label class="control-label" for="select01">Address Type</label>
                        <div class="controls">
                        @Html.DropDownList("AddressType", Model.AddressTypes, "-- Select Source Account --")
                        </div>
                    </div>
                }
            </fieldset>
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>

          </div>
        </fieldset>
      </form>
