@{
    if (Request.Headers["X-PJAX"] != null) 
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/Auth/_Layout.cshtml";
    }
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#BusinessSignUpForm').submit(function () {

            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: "POST",
                data: form.serialize(),
                success: function (data) {
                    $('#formworkspace').html(data);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {

                }

            });
            return false;
        });

    });
</script>

@model Vaccine.Office.Web.Models.Order.PlaceOrderModel
           
@{ Html.RenderPartial("../OnlineBookShop/TopNavigationMenu"); }

<form id="BusinessSignUpForm" class="form-horizontal" method="post" action="/Order/PlaceOrder">
        
        <fieldset>
          <legend>Place Order</legend>
             
                    <div class="control-group">
                    <label class="control-label" for="input01">Customer</label>
                    <div class="controls">

                          @Html.DropDownList("Customer",Model.Customers,"-- Select Customer --")
              
                        </div>
                    </div>

                    
                    <div class="control-group">
                    <label class="control-label" for="input01">Product</label>
                    <div class="controls">

                          @Html.DropDownList("Product",Model.Products,"-- Select Product --")
              
                        </div>
                    </div>
                    
                    <div class="control-group">
                    <label class="control-label" for="input01">Quantity</label>
                        <div class="controls">

                          <input type="text" class="input-xlarge"  name="quantity">
              
                        </div>
                    </div>

                    
                    <div class="control-group">
                        <div class="controls">
                        <table class="table table-striped">
                        <thead><tr><th>Customer Name</th><th>Product</th><th>Quantity</th></tr></thead>
                        @foreach (var item in Model.OrderItemModels)
                        {
                            <tr><td>@item.CustomerName</td><td>@item.ProductName</td><td>@item.Quantity</td></tr>
                        }
                        </table>
                        </div>
                    </div>
            
          
          <div class="form-actions">
            <button type="submit" class="btn btn-success" value="Add" name="add">Add</button>
            <button type="submit" class="btn btn-primary" value="Order" name="order">Order</button>
            <button class="btn">Cancel</button>

          </div>
        </fieldset>
  </form>
